.call{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 43px;
    background: #F5FAFE;
    border-radius: 20px;
    padding: 16px 32px;
    @include breakpoint-up(medium){
        justify-content: space-between;
        flex-direction: column;
    }

    @include breakpoint-up(large){
        flex-direction: unset;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 66px 93px;
    }

    &__header{
        font-weight: 500;
        font-size: 22px;
        line-height: 107.4%;

        /* identical to box height, or 39px */

        color: #0A223D;
        margin-bottom: 17px;

        @include breakpoint-up(large){
            font-size: 30px;
        }

    }

    &__btn{
        width: 142px;
        height: 40px;
        background: #DD383A;
        border-radius: 4px;
        border: none;
        color: white;
    }
}