.intro {
    
    height: 438px;
    width: 93vw;
    background: #0a223d;
    border-radius: 20px;
    text-align: left;
    padding: 0 4rem;
    margin: 0 auto;

    &__content{

        &-header{
            color: white;
            font-size: 2.5rem;
            line-height: 48px;
            margin-bottom: 20px;
            font-weight: 500;

            @include  breakpoint-up(medium){
                font-size: 4.3rem;

            }

        }
        &-info{
            color: #c4c4c4;
            font-size: 0.7063rem;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 50px;

            @include  breakpoint-up(medium){
                font-size: 0.95rem;

            }
            

        }
        &-btn{
            color: white;
            font-size: 13px;
            width: 130px;
            height: 35px;
            background-color: #dd383a;
            border-radius: 4px;
            border: none;

            @include breakpoint-up(medium){
                font-size: 1.125rem;
                width: 239px;
                height: 50px;
            }

        }
    }

    &__img{

        display: none;

        @include breakpoint-up(large){
            display: inherit;
        }
    }

    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 10px auto 0 auto;
        color: #fff;
        padding: 120px 0 0 80px;
        align-items: unset;
    }

    


        

}