html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 64em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 63.9375em) {
  .hide-for-desktop {
    display: none;
  }
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 8px 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 39.9375em) {
  .navbar {
    margin: 20px 100px 0px 100px;
  }
}

.navbar__brand a {
  color: black;
  font-size: 2rem;
}

.navbar__brand a:hover {
  color: red;
}

.navbar__brand a > span {
  color: red;
}

.navbar__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

.navbar__links li {
  padding: 8px;
}

.navbar__links li a {
  color: black;
  font-size: 1rem;
}

.navbar__links li a:hover {
  color: red;
}

.navbar__links li a.active {
  color: red;
}

.navbar__menu {
  display: none;
  cursor: pointer;
}

.navbar__menu > div {
  background-color: black;
  width: 30px;
  height: 3px;
}

.navbar__menu > div:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 1219px) {
  .navbar__links {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 0px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: height 0ms 400ms, opacity 900ms 0ms;
    transition: height 0ms 400ms, opacity 900ms 0ms;
  }
  .navbar__links li {
    padding: 8px 0;
  }
  .navbar__menu {
    display: block;
  }
}

.nav-active {
  height: auto;
  opacity: 1;
  -webkit-transition: height 0ms 400ms, opacity 900ms 0ms;
  transition: height 0ms 400ms, opacity 900ms 0ms;
}

@-webkit-keyframes fadeIn {
  from {
    display: none;
  }
  to {
    display: -webkit-box;
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    display: none;
  }
  to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*.navbar{

    padding: 8px 16px;
    overflow: hidden;
    flex-wrap: wrap;

    @include breakpoint-up(medium){
        margin: 20px 100px 0px 100px;
        
    }

    @include breakpoint-up(large){
        margin: 20px 100px 0px 100px;
        display: grid;
        grid-template-columns: 1fr auto;
        
       
    }
    
    

    &__brand{
        color: black;
        font-size: 2rem;
        &:hover{
            color: red;
        }

        >span{
            color: red;
        }

    }

    &__menu{
        >span{
            background-color: black;
            display: block;
            width: 30px;
            height: 3px;

            &:not(:last-child){
                margin-bottom: 5px;
            }


        }

    }

    


    &__links{
        
        
        
            flex-basis: 100%;
        
        
       
            a{
                color: black;
                padding: 8px 0px;
                margin: 0px 3.6px;
                font-size: 0.9rem;
                display: block;

                &:hover{
                    color: red;
                }
                &:active{
                    color: red;
                }

                @include breakpoint-up(large){
                    display: inline 
                }

            

            
            }

        
        

        
    }

    &__links2{
        
        
       
        a{
            color: black;
            padding: 8px 0px;
            margin: 0px 3.6px;
            font-size: 0.9rem;
            

            &:hover{
                color: red;
            }
            &:active{
                color: red;
            }

            

            
        }

        
    }

   
}*/
.intro {
  height: 438px;
  width: 93vw;
  background: #0a223d;
  border-radius: 20px;
  text-align: left;
  padding: 0 4rem;
  margin: 0 auto;
}

.intro__content-header {
  color: white;
  font-size: 2.5rem;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: 500;
}

@media (min-width: 39.9375em) {
  .intro__content-header {
    font-size: 4.3rem;
  }
}

.intro__content-info {
  color: #c4c4c4;
  font-size: 0.7063rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}

@media (min-width: 39.9375em) {
  .intro__content-info {
    font-size: 0.95rem;
  }
}

.intro__content-btn {
  color: white;
  font-size: 13px;
  width: 130px;
  height: 35px;
  background-color: #dd383a;
  border-radius: 4px;
  border: none;
}

@media (min-width: 39.9375em) {
  .intro__content-btn {
    font-size: 1.125rem;
    width: 239px;
    height: 50px;
  }
}

.intro__img {
  display: none;
}

@media (min-width: 63.9375em) {
  .intro__img {
    display: inherit;
  }
}

@media (min-width: 63.9375em) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 10px auto 0 auto;
    color: #fff;
    padding: 120px 0 0 80px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media (min-width: 63.9375em) {
  .services__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 59px;
    margin-right: 619px;
  }
}

.services__grid .service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.services__grid .service__item-img {
  width: 96px;
  height: 96px;
  border: 2px solid #DD383A;
  border-radius: 50%;
  margin-bottom: 22px;
  margin-top: 30px;
}

.services__grid .service__item-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 5px;
  /* identical to box height */
  text-transform: capitalize;
}

.services__grid .service__item-info {
  max-width: 202px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.roomsrate {
  text-align: center;
  margin-top: 48px;
  padding: 0 2rem;
}

@media (min-width: 63.9375em) {
  .roomsrate {
    margin-top: 149px;
  }
}

.roomsrate__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 107.4%;
}

.roomsrate__info {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 63.9375em) {
  .roomsrate__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 76px;
  }
}

.roomsrate .show {
  margin-top: 3rem;
}

@media (min-width: 39.9375em) {
  .roomsrate .show {
    max-width: 557px;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

.roomsrate .show__grid-img img {
  width: 100%;
  vertical-align: middle;
}

.roomsrate .show__grid-info {
  text-align: left;
  background-color: #DD383A;
  padding: 30px 24px;
  border-radius: 0 0 8px 8px;
}

.roomsrate .show__grid-info .head {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
  /* identical to box height */
  color: #FFFFFF;
}

.roomsrate .show__grid-info .info__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.roomsrate .show__grid-info .info__grid-left > div {
  margin-bottom: 16px;
}

.roomsrate .show__grid-info .info__grid-left img {
  margin-right: 8px;
}

.roomsrate .show__grid-info .info__grid-left span {
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: #FFFFFF;
}

.roomsrate .show__grid-info .info__grid-right .cost {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #FFFFFF;
}

.roomsrate .show__grid-info .info__grid-right .rate {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: #FFFFFF;
}

.roomsrate .show__grid-info .room-btn {
  background: #0A223D;
  border-radius: 4px;
  border: none;
  width: 95%;
  height: 40px;
  padding: 0;
  color: white;
}

.roomsrate .see-all {
  border: none;
  width: 239px;
  height: 50px;
  margin-top: 56px;
  color: #DD383A;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  background: #F5FAFE;
  border-radius: 4px;
}

.about {
  text-align: center;
  padding: 32px;
}

@media (min-width: 63.9375em) {
  .about {
    padding: 0 208px;
  }
}

.about__header {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 107.4%;
  color: #0A223D;
  margin-bottom: 36px;
}

.about__header span {
  color: #DD383A;
  font-weight: 500;
}

.about .com {
  color: #0A223D;
}

.about__info {
  font-weight: normal;
  font-size: 18px;
  line-height: 204.6%;
  /* or 37px */
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 69px;
}

@media (min-width: 63.9375em) {
  .about__info {
    text-align: left;
  }
}

.testimonial {
  padding: 2rem;
  margin-bottom: 70px;
}

@media (min-width: 63.9375em) {
  .testimonial {
    padding: 0;
  }
}

.testimonial__head {
  text-align: center;
}

.testimonial__head-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 107.4%;
  /* identical to box height, or 39px */
  text-transform: uppercase;
  color: #0A223D;
  margin-bottom: 6px;
}

.testimonial__head-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.testimonial__grid {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 80px;
}

@media (min-width: 63.9375em) {
  .testimonial__grid {
    margin: 80px  158px 0 158px;
  }
}

@media (min-width: 63.9375em) {
  .testimonial__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 47px;
  }
}

.testimonial__grid-info {
  text-align: center;
  padding: 0 35px 35px 35px;
  background: #F5FAFE;
  border-radius: 8px;
}

.testimonial__grid-info img {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.testimonial__grid-info .name {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 14px;
  /* identical to box height */
  color: #EC1F46;
}

.testimonial__grid-info .ratings {
  margin-bottom: 32px;
}

.testimonial__grid-info .note {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 193%;
  margin-bottom: 52px;
  color: #333333;
}

.call {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 0 43px;
  background: #F5FAFE;
  border-radius: 20px;
  padding: 16px 32px;
}

@media (min-width: 39.9375em) {
  .call {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 63.9375em) {
  .call {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 66px 93px;
  }
}

.call__header {
  font-weight: 500;
  font-size: 22px;
  line-height: 107.4%;
  /* identical to box height, or 39px */
  color: #0A223D;
  margin-bottom: 17px;
}

@media (min-width: 63.9375em) {
  .call__header {
    font-size: 30px;
  }
}

.call__btn {
  width: 142px;
  height: 40px;
  background: #DD383A;
  border-radius: 4px;
  border: none;
  color: white;
}

.footer {
  text-align: center;
  margin-top: 34px;
  padding: 32px;
  background: #0A223D;
  border-radius: 20px 20px 0px 0px;
}

@media (min-width: 63.9375em) {
  .footer {
    padding-left: 129px;
    padding-right: 129px;
    padding-top: 84px;
  }
}

.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 63.9375em) {
  .footer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] auto;
        grid-template-columns: repeat(3, 1fr) auto;
    text-align: left;
  }
}

.footer__grid-item {
  font-size: 14px;
  font-weight: normal;
  color: white;
}

.footer__grid-item h3 {
  font-weight: 600;
  line-height: 161.3%;
  color: rgba(255, 255, 255, 0.69);
  margin-bottom: 8.13px;
}

.footer__grid-item ul {
  margin-bottom: 16px;
}

.footer__grid-item li {
  margin-bottom: 8.13px;
}

.footer__grid-signup {
  font-size: 14px;
  line-height: 161.3%;
  color: white;
}

.footer__grid-signup .news {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.69);
  margin-bottom: 8.28px;
}

@media (min-width: 63.9375em) {
  .footer__grid-signup .inp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 12px;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    max-width: 449px;
    height: 70px;
  }
}

.footer__grid-signup .inp input {
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 5px;
  padding: 21px;
  color: #C4C4C4;
  margin-bottom: 10px;
}

@media (min-width: 63.9375em) {
  .footer__grid-signup .inp input {
    margin-bottom: 0;
  }
}

.footer__grid-signup .inp .sup-btn {
  width: 122px;
  height: 49.96px;
  background: #DD383A;
  border-radius: 5px;
  border: none;
  color: white;
}

.footer__grid-signup .keep {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.69);
  margin-top: 34.42px;
  margin-bottom: 11.85px;
}

.footer__grid-signup > span:not(:last-child) {
  margin-right: 1rem;
}

.footer__grid-signup .location {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 8px;
}

.footer__grid-signup .location img {
  margin-right: 0.5rem;
  vertical-align: middle;
}

@media (min-width: 63.9375em) {
  .footer__grid-signup .location {
    font-size: 14px;
  }
}

.footer__disclaimer {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 3rem;
}
/*# sourceMappingURL=style.css.map */